# Dataset
data/raw/

# Python
__pycache__/
*.py[cod]
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Experiment artifacts
*.log

# Model checkpoints
*.pt
*.pth
*.ckpt

# SSL training artifacts
results/ssl_pretraining/